.page-container {
    height: calc(100vh - 13.4vw);
    width: 100vw;
    background: url('../../images/bg.jpg');
    background-size: 100% 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    .air-header {
        position: absolute;
        top: -11vw;
        z-index: 100;

    }

    .min-air-header {
        height: 92vw;
        transform: scale(0.9);
    }

    .content-container {
        transform: scale(1.15);
        transform-origin: bottom;
        display: flex;
        flex-shrink: 0;
        // max-height: 74vh;
        width: 54vw;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background-Color: #fff;
        border-radius: 8vw 8vw 0 0;
        box-shadow: inset 0 0 2.5vw 0.25vw rgba(0, 0, 0, 0.2);

        .control-btn {
            margin: 2.8vw 0;
            height: 6.6vw;
            line-height: 6.6vw;
            text-align: center;
            width: 33vw;
            font-size: 3.5vw;
            color: #2C2C2C;
            font-weight: 700;
            box-sizing: border-box;
            background: #fff;
            border-radius: 13vw;
            border-width: 0;
            border-style: solid;
            border-color: #000000;
            filter: drop-shadow(rgba(102, 102, 102, 0.2) 1.05vw 1.05vw 2.1vw);
            box-shadow: inset 0 1.3vw 2.6vw 0 rgba(255, 255, 255, 0.5);
        }

        .share-btn {
            height: 8vw;
            width: 34vw;
            text-align: center;
            line-height: 8vw;
            background: rgb(29, 219, 90);
            color: #2c2c2c;
            font-size: 3vw;
            border-radius: 6.6vw;
            filter: drop-shadow(rgba(102, 102, 102, 0.2) 1.05vw 1.05vw 2.1vw);
            box-shadow: inset 0 1.3vw 2.6vw 0 rgba(255, 255, 255, 0.5);
            margin-bottom: 10vw;
        }
    }

    .min-content-container-less-1_5 {
        // 1.5- 1.7
        transform: scale(0.6);
        transform-origin: bottom;
    }

    .min-content-container-1_5-1_7 {
        // 1.5- 1.7
        transform: scale(0.8);
        transform-origin: bottom;
    }

    .min-content-container-1_7-1_8 {
        // 1.7 - 1.8
        transform: scale(0.9);
        transform-origin: bottom;
    }

    .min-content-container-1_8-2_1 {
        // 1.7 - 1.8
        transform: scale(1.02);
        transform-origin: bottom;
    }

    // @keyframes hide-remote-ctr {

    //     100% {
    //         transform: translateY(100vh);
    //         // bottom: -100vh;
    //     }
    // }

    // .hide-content {
    //     animation: hide-remote-ctr 1s 1 ease forwards;
    // }

}

.page-container-game {
    height: 100vh;
}