.go-home-container {
    height: 16vw;
    width: 16vw;
    border-radius: 50%;
    background: rgb(220, 218, 218);
    margin-right: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .go-home-icon {
        height: 10vw;
        width: 10vw;
    }
}