.area {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // background: bisque;
    background: linear-gradient(to right bottom, #D7E8F5, #D7D9F5);

    .basin {
        position: absolute;
        z-index: 1000000000;
        width: 150px;
        height: 200px;
        background: url('../../images/basin.png');
        background-size: 100% 100%;
    }

    .bottom-view {
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;

    }
}

.game-title {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20vh;
    text-align: center;
    color: black;
    font-size: 14vw;
    font-family: "阿里妈妈刀隶体 Regular";
}

.play-common-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 28vh;
}

.play-after-score {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20vh;
    font-family: LCDAT;
    font-size: 10vw;
    text-align: center;

    .current-score-text {
        margin-right: 0.8vw;
        text-align: center;
    }
}

.ad-banner {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}