.score-container {
    height: 20vw;
    width: 40vw;
    border-radius: 10vw;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40vh;
    right: 20vw;
}