.water {
    position: absolute;
    background: url('../../../../images/zongzi.png');
    background-size: 100% 100%;
    animation: fall 3s infinite ease-in-out;

}

.water-2_6 {
    animation-duration: 2.5s;
}

.water-2_2 {
    animation-duration: 2s;
}

.bad-water {
    background: url('../../../../images/co2.png');
    background-size: 100% 100%;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(120vh);
    }
}

.water-runging {
    animation-play-state: running;
}

.water-paused {
    animation-play-state: paused;
}