.water {
    position: absolute;
    background: url('../../../../images/water.png');
    background-size: 100% 100%;
    animation: fall 3s infinite ease-in-out;
    z-index: 100000000;

}

.water-2_3 {
    animation-duration: 2.3s;
}

.water-2_0 {
    animation-duration: 2s;
}

.water-1_8 {
    animation-duration: 1.8s;
}

.water-1_5 {
    animation-duration: 1.5s;
}

.bad-water {
    background: url('../../../../images/co2.png');
    background-size: 100% 100%;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(120vh);
    }
}

.water-runging {
    animation-play-state: running;
}

.water-paused {
    animation-play-state: paused;
}