// .fall {
//     position: relative;
//     height: 100%;
//     width: 100%;
//     display: flex;
//     justify-content: center;
// }

.water {
    position: absolute;
    width: 12vw;
    height: 12vw;
    background: url('../../../../images/water.png');
    background-size: 100% 100%;
    animation: fall 3s infinite ease-in-out;
}

.bad-water {
    background: url('../../../../images/bad-water.png');
    background-size: 100% 100%;
}

@keyframes fall {
    100% {
        transform: translateY(100vh);
    }
}

.water-runging {
    animation-play-state: running;
}

.water-paused {
    animation-play-state: paused;
}