.share-container {
    .share-text {
        margin-top: 4vw;
    }

    .share-icon {
        height: 6.5vw;
        width: 6.5vw;
        position: fixed;
        bottom: 9vw;
        right: 7vw;
    }
}