// 整个设计稿按照750 * 1334
// 用vw 实现自适应 1vw = 750px / 100 = 7.5px
@font-face {
    font-family: LCDAT;
    src: url('../src/font/LCDAT&TPhoneTimeDate.ttf');
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: "阿里妈妈刀隶体 Regular";
    font-weight: 400;
    src: url("//at.alicdn.com/wf/webfont/flmLkZ3ii6AN/OCTWk70LAyTs.woff2") format("woff2"),
        url("//at.alicdn.com/wf/webfont/flmLkZ3ii6AN/kVRtmkKkq724.woff") format("woff");
    font-display: swap;
}

page {
    height: 100%;
    box-sizing: border-box;
    padding-bottom: calc(13.4vw + constant(safe-area-inset-bottom));
    padding-bottom: calc(13.4vw + env(safe-area-inset-bottom));
}