.media-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #D7E8F5, #B6F2FF, #97FCF5, #97FFD3, #BFFFA1, #F9F871);
}