.max-score-container {
    position: fixed;
    left: 20vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20vh;
    z-index: 10000;
    font-family: LCDAT;
    font-size: 3.6vw;
    text-align: center;
    color: #2F4858;
}